In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
pd.set_option("display.max_columns", None)

In [2]:
data = np.loadtxt("SouthGermanCredit.asc",skiprows=1)

In [62]:
df=pd.DataFrame(data)

In [3]:
df = pd.DataFrame(data, columns=["status", "duration", "credit_history" ,"purpose", "amount", "savings", "employment_duration", "installment_rate", "personal_status_sex", "other_debtors", "present_residence", "property", "age", "other_installment_plans", "housing", "number_credits", "job", "people_liable", "telephone", "foreign_worker", "credit_risk"
])

In [4]:
df.head()

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,present_residence,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
0,1.0,18.0,4.0,2.0,1049.0,1.0,2.0,4.0,2.0,1.0,4.0,2.0,21.0,3.0,1.0,1.0,3.0,2.0,1.0,2.0,1.0
1,1.0,9.0,4.0,0.0,2799.0,1.0,3.0,2.0,3.0,1.0,2.0,1.0,36.0,3.0,1.0,2.0,3.0,1.0,1.0,2.0,1.0
2,2.0,12.0,2.0,9.0,841.0,2.0,4.0,2.0,2.0,1.0,4.0,1.0,23.0,3.0,1.0,1.0,2.0,2.0,1.0,2.0,1.0
3,1.0,12.0,4.0,0.0,2122.0,1.0,3.0,3.0,3.0,1.0,2.0,1.0,39.0,3.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0
4,1.0,12.0,4.0,0.0,2171.0,1.0,3.0,4.0,3.0,1.0,4.0,2.0,38.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0

In [8]:
for i in df.shape[0]:
    print(i)

TypeError: 'int' object is not iterable

In [7]:
df.shape[0]

1000

In [29]:
x = sm.add_constant(x)

In [30]:
result = sm.OLS(y, x).fit()

In [31]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            credit_risk   R-squared:                       0.237
Model:                            OLS   Adj. R-squared:                  0.222
Method:                 Least Squares   F-statistic:                     15.24
Date:                Wed, 18 Aug 2021   Prob (F-statistic):           3.04e-45
Time:                        11:05:59   Log-Likelihood:                -503.12
No. Observations:                1000   AIC:                             1048.
Df Residuals:                     979   BIC:                             1151.
Df Model:                          20
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.2040      0.192      1.064      0.288      -0.172       0.580
status                      0.0988      0.011      9.100      0.000       0.077       0.120
duration                   -0.0044      0.001     -2.962      0.003      -0.007      -0.001
credit_history              0.0657      0.014      4.733      0.000       0.038       0.093
purpose                     0.0047      0.005      0.972      0.331      -0.005       0.014
amount                  -1.534e-05   6.82e-06     -2.251      0.025   -2.87e-05   -1.96e-06
savings                     0.0342      0.008      4.032      0.000       0.018       0.051
employment_duration         0.0248      0.012      2.144      0.032       0.002       0.048
installment_rate           -0.0471      0.013     -3.595      0.000      -0.073      -0.021
personal_status_sex         0.0439      0.019      2.348      0.019       0.007       0.081
other_debtors               0.0588      0.028      2.117      0.034       0.004       0.113
present_residence          -0.0029      0.013     -0.227      0.821      -0.028       0.022
property                   -0.0325      0.014     -2.261      0.024      -0.061      -0.004
age                         0.0011      0.001      0.827      0.408      -0.001       0.004
other_installment_plans     0.0361      0.019      1.916      0.056      -0.001       0.073
housing                     0.0499      0.028      1.803      0.072      -0.004       0.104
number_credits             -0.0423      0.025     -1.662      0.097      -0.092       0.008
job                         0.0050      0.023      0.221      0.826      -0.039       0.049
people_liable               0.0293      0.037      0.797      0.426      -0.043       0.101
telephone                   0.0510      0.029      1.733      0.083      -0.007       0.109
foreign_worker             -0.1145      0.071     -1.621      0.105      -0.253       0.024
==============================================================================
Omnibus:                       90.664   Durbin-Watson:                   0.718
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               73.905
Skew:                          -0.579   Prob(JB):                     8.95e-17
Kurtosis:                       2.342   Cond. No.                     6.71e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.71e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [43]:
from sklearn.decomposition import PCA

In [45]:
pca = PCA(n_components=3)
fit = pca.fit(x)
# summarize components
print("Explained Variance: %s" % fit.explained_variance_ratio_)
print(fit.components_)

Explained Variance: [9.99970189e-01 1.63787047e-05 1.09773200e-05]
[[-0.00000000e+00 -1.90223684e-05  2.66997488e-03 -2.29900290e-05
   6.65811747e-05  9.99996407e-01  3.61775144e-05 -3.58509695e-06
  -1.07529115e-04 -4.03713863e-06 -4.70994448e-06  1.13067330e-05
   1.15932097e-04  1.29794704e-04 -1.73458679e-05  2.49853767e-05
   4.25349096e-06  6.60832046e-05 -2.19902607e-06  4.81766793e-05
   2.05149540e-06]
 [-7.12395406e-20  7.60009294e-03 -1.84884303e-01  1.46852176e-02
  -6.01221774e-03  3.65562454e-04  1.11096424e-02  2.58933010e-02
   1.71452574e-03  7.27499175e-05 -1.14500617e-03  2.49813516e-02
   3.92542793e-03  9.81729170e-01 -1.45041737e-03  1.29631641e-02
   7.72105543e-03  1.38313292e-05 -3.88545725e-03  5.75141432e-03
  -6.12629508e-04]
 [-1.09423895e-18  5.92496534e-03 -9.80757913e-01  2.09343363e-03
  -4.23630193e-02  2.64399166e-03 -4.77431197e-03 -1.81903807e-02
  -3.94393687e-02 -2.55028977e-03  8.22555728e-04 -9.58063949e-03
  -1.74535008e-02 -1.83996278e-01  2.46643453e-03 -8.91912329e-03
  -2.37791262e-04 -3.07672645e-03 -6.85241886e-04 -1.11249295e-03
  -2.92848148e-03]]

array([-0.00000000e+00, -1.90223684e-05,  2.66997488e-03, -2.29900290e-05,
        6.65811747e-05,  9.99996407e-01,  3.61775144e-05, -3.58509695e-06,
       -1.07529115e-04, -4.03713863e-06, -4.70994448e-06,  1.13067330e-05,
        1.15932097e-04,  1.29794704e-04, -1.73458679e-05,  2.49853767e-05,
        4.25349096e-06,  6.60832046e-05, -2.19902607e-06,  4.81766793e-05,
        2.05149540e-06])

In [63]:
for i in df.columns:
    print('"{}"'.format(i)+" : "+'"float"')

"0" : "float"
"1" : "float"
"2" : "float"
"3" : "float"
"4" : "float"
"5" : "float"
"6" : "float"
"7" : "float"
"8" : "float"
"9" : "float"
"10" : "float"
"11" : "float"
"12" : "float"
"13" : "float"
"14" : "float"
"15" : "float"
"16" : "float"
"17" : "float"
"18" : "float"
"19" : "float"
"20" : "float"

In [65]:
df.dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
dtype: object